#con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#container {
    border: solid;

    display: flex;
    margin-top: 50px;
    width: 550px;
    height: 550px;

}

#divs {

    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

#miniDiv {
    margin: 0;

    flex: 1 1 0%;
}